---
import { site } from '../../lib/site';

interface Props {
  showLocation?: boolean;
  class?: string;
}

const { showLocation = false, class: className = '' } = Astro.props;
const { de, en } = site.availability;
---

<div class:list={['avail', className]}>
  <p class="avail__role">
    <span data-lang="de">
      {de.role} <span class="avail__muted">bei</span> {de.employer}
    </span>
    <span data-lang="en">
      {en.role} <span class="avail__muted">at</span> {en.employer}
    </span>
  </p>
  <p class="avail__open">
    <span class="avail__open-mark" aria-hidden></span>
    <span data-lang="de">{de.open}</span>
    <span data-lang="en">{en.open}</span>
  </p>
  {
    showLocation && (
      <p class="avail__loc">
        <span data-lang="de">{site.location}</span>
        <span data-lang="en">Mannheim/Heidelberg area</span>
      </p>
    )
  }
</div>
